{% extends 'layout.html.j2' %} 
{% block title %}
<title>Details - MyJournal</title>
{% endblock %} 
{% block content %}
<div class="entry-list single">
    {% for data in entry %}
	<article>
		<h1>{{ data[0].title }}</h1>
		<time datetime="{{ data[0].date.strftime('%Y-%d-%m') }}">
            {{ data[0].date.strftime('%B %d, %Y') }} by {{ data[2] }}
        </time>
        </br>
        </br>
        {% for tag in data[1] %}
            <a href="{{ url_for('tag', tag=tag.tag) }}" class="tag">{{ tag.tag }}</a>
        {% endfor %}
		<div class="entry">
			<h3>Time Spent:</h3>
			<p>{{ data[0].time_spent }} Hours</p>
		</div>
		<div class="entry">
			<h3>What I Learned:</h3>
			<p>
				{{ data[0].what_you_learned }}
			</p>
		</div>
		<div class="entry">
			<h3>Resources to Remember:</h3>
			<p>
				{{ data[0].resource_to_remember }}
			<pl>
		</div>
	</article>
    {% endfor %}
</div>
{% endblock %} 
{% block bottom %}
{% if current_user.username == entry[0][2] %}
<div class="paginate edit">	
		<a href="{{ url_for('edit_entry', slug=entry[0][0].slug) }}" class="item">Edit Entry</a>
		<a href="{{ url_for('delete_entry', slug=entry[0][0].slug) }}" class="item">Delete Entry</a>	
</div>
{% endif %}
{% endblock %}
