{% from 'macros.html.j2' import render_field %} 
{% extends 'layout.html.j2' %} 
{% block title %}
<title>Edit Entry - MyJournal</title>
{% endblock %} 
{% block content %}
<h2>Edit Entry</h2>
<br />
	<form
		method="POST"
		action="{{ url_for('edit_entry', slug=slug) }}"
		class="form"
	>
		{{ form.hidden_tag() }}
		{% for field in form if field.widget.input_type != 'hidden' %}
        {# {% if field.label.text == 'Title' %}
            {% set value = data.title %}
        {% endif %} #}
        {# {% if field.label.text == 'Date' %}
            {% set value = data.date %}
        {% endif %}
        {% if field.label.text == 'Time spent(in hours)' %}
            {% set value = data.time_spent %}
        {% endif %}
        {% if field.label.text == 'What i learned' %}
            {% set value = data.what_i_learned %}
        {% endif %}
        {% if field.label.text == 'Resources to remember' %}
            {% set value = data.resources_to_remember %}
        {% endif %} #}
		{{ render_field(field) }}
		{% endfor %}
		<!-- <label for="title"> Title</label>
	<input id="title" type="text" name="title" /><br />
	<label for="date">Date</label>
	<input id="date" type="date" name="date" /><br />
	<label for="time-spent"> Time Spent</label>
	<input id="time-spent" type="text" name="timeSpent" /><br />
	<label for="what-i-learned">What I Learned</label>
	<textarea id="what-i-learned" rows="5" name="whatILearned"></textarea>
	<label for="resources-to-remember">Resources to Remember</label>
	<textarea
		id="resources-to-remember"
		rows="5"
		name="ResourcesToRemember"
	></textarea> -->
		<input type="submit" value="Publish Entry" class="button" />
		<a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
	</form>
{% endblock %}
