{% extends 'layout.html'%} {% block title %}
<title>MyJournal</title>
{% endblock %} {% block content %} {% for entry in data %}
<article>
	<h2>
		<a href="{{ url_for('detail', slug='future-slug') }}">{{ entry.title }}</a>
	</h2>
	<time datetime="{{ entry.date.strftime('%Y-%d-%m') }}">
		{{ entry.date.strftime('%B %d, %Y') }}
	</time>
</article>

{% endfor %}
<!-- <h2>
		<a href="{{ url_for('detail', slug='future-slug') }}"
			>The best day I’ve ever had</a
		>
	</h2>
	<time datetime="2016-01-31">January 31, 2016</time>
</article>
<article>
	<h2>
		<a href="{{ url_for('detail', slug='future-slug') }}"
			>The absolute worst day I’ve ever had</a
		>
	</h2>
	<time datetime="2016-01-31">January 31, 2016</time>
</article>
<article>
	<h2>
		<a href="{{ url_for('detail', slug='future-slug') }}"
			>That time at the mall</a
		>
	</h2>
	<time datetime="2016-01-31">January 31, 2016</time>
</article>
<article>
	<h2>
		<a href="{{ url_for('detail', slug='future-slug') }}"
			>Dude, where’s my car?</a
		>
	</h2>
    <time datetime="2016-01-31">January 31, 2016</time> -->
{{ g.page }}
{{ g.max_page }}
<div class="page">
	{% endblock %} {% block bottom %} {% if g.max_page|int != 1 %} {% if
	g.page|int > 1 and g.max_page|int > 1 %}
	<a href="{{ url_for('index', page=g.page-1) }}">Previous</a>
	{% endif %} {% if g.page|int < g.max_page|int and g.page|int != g.max_page|int
	%}
	<a href="{{ url_for('index', page=g.page+1) }}" style="text-align: center;"
		>Next</a
	>
	{% endif %} {% endif %} {% endblock %}
</div>
