{% from 'macros.html' import render_field %} {% extends 'layout.html' %} {%
block title %}
<title>Log In - MyJournal</title>
{% endblock %} {% block content %}
<form method="POST" action="{{ url_for('login') }}" class="form">
	{{ form.hidden_tag() }}
	<!-- https://stackoverflow.com/questions/10763139
        /is-there-a-way-to-hide-the-csrf-label-while-looping-
        through-form-using-flask-and -->
	{% for field in form if field.widget.input_type != 'hidden' %}
	{{ render_field(field) }}
	{% endfor %}
	<button class="button button-center" type="submit">Submit</button>
</form>
{% endblock %}
